<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Datos</title>
<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
             <h1>Welcome To Datos</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-7">
            <h2>What are we?</h2>
            <h4>Tired of creating account and entering the same details again and again!</h4>
            <p>Do it once here and save your personal details for future use.<p>             
        </div>
        <div class="col-2 align-self-center">
           <a href="/register" class="btn btn-primary">Create my account</a>
        </div>
        <div class="col-2 align-self-center">
           <a href="/login" class="btn btn-warning">I wan't to Log in</a>
        </div>
    </div>    
</div>


</body>
</html>